<%= form_tag(new_game_path, :method => "get") do %>
<%= select_tag "selectImage", options_for_select(@games.map  { |game| [{ data: { 'img-src': game.url } }, game.title , [ 'id' => game.id, 'name' =>  game.title, 'cover' => game.url ] ] }), multiple: true, class: 'image-picker show-labels show-html'%>
<% end %>
<div align="center">
<%= will_paginate @games %>
</div>
