<div class="page-header">
	<h1>Available Games</h1>
</div>
<div align="center">
<%= form_tag(games_mooch_path, :method => "get") do %>
	<%= select_tag "selectImage", options_for_select(@games.map  { |game| [{ data: { 'img-src': game.url } }, if game.user.username? then "#{game.title} <hr> #{game.user.username}" else  "#{game.title} <hr> #{game.user.email}" end , [ 'id' => game.id, 'name' =>  game.title, 'cover' => game.url, 'owner' => game.user.email ] ] }), multiple: true, class: 'image-picker show-labels show-html'%>
	<div align="center">
		<%= submit_tag "Mooch Games", class: "btn btn-primary btn-lg btn-block" %>
	</div>
<% end %>
</div>
<div align="center">
	<%= will_paginate %>
</div>
