MASHAPE_KEY_TEST: 'Q4bjhnpfipmsh7hXYZKduUln0bSRp1gcgZLjsn7kPHx868XONx'
MASHAPE_KEY_DEV: 'Q4bjhnpfipmsh7hXYZKduUln0bSRp1gcgZLjsn7kPHx868XONx'
MASHAPE_KEY: 'KEY'
LDAP_HOST: 'ldap.example.com'
LDAP_PORT: '389'
LDAP_BASE: 'ou=people,dc=example,dc=com'
SECRET_KEY_BASE: 'KEY'
