$navbar-default-bg: rgba(0, 0, 0, 0.8);

@import "bootstrap-sprockets";
@import "bootstrap";
@import "image-picker";

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	letter-spacing: -1px;
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
	font-size: 1.2em;
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
	font-size: 1.3em;
	color: #fff;
}

.center {
	text-align: center;
}

body {
	background-image: asset-url('ps4background.jpg');
	background-size: cover;
	padding-bottom: 70px;
}

.jumbotron {
	background-color: gray;
	background: rgba(0, 0, 0, 0.5);
}

.jumbotron h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;

}

footer {
	margin-top: -45px;
	padding-top: 5px;
	border-top: 1px solid #fff;
	color: #fff;
}

footer a:hover {
	text-decoration: none
}

.thumbnail {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	line-height: 1;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
	opacity: 0.4;
}

.thumbnail p {
	text-align: center;
	margin: 1em;
	width: 150px;
	color: white;
}


/* Modal */
#myModal .modal-dialog  {
  width:500px;
}
#myModal .modal-content  {
}

#myModal .modal-body {
  padding: 10px;
}
#myModal .modal-header {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  }

#myModal .modal-footer {
  padding: 0px;
  border-top: 1px solid #e5e5e5;
}
