.row{
	margin-left:0px;
	margin-right:0px;
}

#wrapper {
	padding-left: 70px;
	transition: all .4s ease 0s;
	height: 100%
}

#sidebar-wrapper {
	margin-left: -300px;
	left: 70px;
	width: 300px;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	height: 100%;
	z-index: 10000;
	transition: all .4s ease 0s;
	margin-top: -20px;
}

.sidebar-nav {
	display: block;
	float: left;
	width: 300px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#wrapper.active {
	padding-left: 300px;
}

#wrapper.active #sidebar-wrapper {
	left: 300px;
}

#page-content-wrapper {
	width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
	float: left;
	width: 300px;
	border-bottom: 1px solid #1A1A1A;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
	-ms-transition: background .5s;
	transition: background .5s;
}

.sidebar_name {
	padding-top: 25px;
	color: #fff;
	opacity: .7;
}

.sidebar-nav li {
	line-height: 40px;
	text-indent: 20px;
}

.sidebar-nav li a {
	background: rgba(0, 0, 0, 0.6);
	color: white;
	display: block;
	text-decoration: none;
}

.sidebar-nav li a:hover {
	color: white;
	background: rgba(255,255,255,0.2);
	text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	line-height: 60px;
	font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
	color: gray;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background-color: gray;
	background: rgba(0, 0, 0, 0.6);
}

.sidebar-bottom {
	position: absolute;
	bottom: 0;
}

#main_icon
{
	float:right;
	padding-right: 30px;
	padding-top:20px;
}

.sub_icon
{
	float:right;
	padding-right: 32px;
	padding-top:10px;
}

.content-header {
	height: 65px;
	line-height: 65px;
}

.content-header h1 {
	margin: 0;
	margin-left: 20px;
	line-height: 65px;
	display: inline-block;
}

@media (max-width:767px) {
	#wrapper {
		padding-left: 70px;
		transition: all .4s ease 0s;
	}
	#sidebar-wrapper {
		left: 70px;
	}
	#wrapper.active {
		padding-left: 300px;
	}
	#wrapper.active #sidebar-wrapper {
		left: 300px;
		width: 300px;
		transition: all .4s ease 0s;
	}
}

.side-dropdown {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: gray;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
}

#wrapper.active .avatar {
	height: 200px;
	border-radius: 50%;
	margin-left: 45px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.avatar {
	height: 0px;
	transition: all .4s ease 0s;
}
