<%= form_tag(igdb_games_path, :method => "get", id: "search-form") do %>
	<div class="row">
		<div class="col-lg-6">
			<div class="input-group">
				<%= text_field_tag :search, params[:search], placeholder: "Search Games You own", class: "form-control" %>      <span class="input-group-btn">
					<%= submit_tag "Search" , class: "btn btn-default"%>
				</span>
			</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
<% end %>
<br>
<%= select_tag "selectImage", options_for_select(@games.map  { |image| [{ data: { 'img-src': image['cover']['url'] } }, image['name'] , image['id'] ] }), multiple: true, class: 'image-picker show-labels show-html'%>
