<div class="container navbar-fixed-bottom">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://example.com"> GameMooch</a>
			by <a href="https://github.com/ppanagiotis">Panagiotis Panagiotopoulos</a>
		</small>
	</footer>
</div>
